@using IntroToRazor.Web.Models;

@{
    ViewData["Title"] = "Echo";

    var helloEcho = new Dictionary<string, string>
    {
        {"phrase", "Hello!" },
        {"numoftimes", "20" }
    };

    var goodbyEcho = new Dictionary<string, string>
    {
        {"phrase", "Goodbye!" },
        {"numoftimes", "50" }
    };
}

@model EchoViewModel

<h2>Echo</h2>

<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Echo">Echo 10</a></li>
        <li><a asp-controller="Home" asp-action="Echo" asp-all-route-data="helloEcho">Hello! 20</a></li>
        <li><a asp-controller="Home" asp-action="Echo" asp-all-route-data="goodbyEcho">Goodbye! 50</a></li>
    </ul>
</nav>
<ul>
    @{
        int fontSize = Model.NumOfTimes;
        for (int i = 0; i < Model.NumOfTimes; i++)
        {
            <li style="font-size: @(fontSize)px">@Model.Phrase</li>
            fontSize--;
        }
    }
</ul>