
<div class="search-form">
    <form asp-controller="Actors" asp-action="SearchResult" method="get" class="search-form-body">
        <input type="text" name="lastNameSearch" />
        <input type="submit" value="Search" />
    </form>
</div>
<p><strong>Name</strong></p>
