.page-title {
    margin-right: 35%;
    margin-top: 10px;
}

body {
    margin: 0 10%;
}

.product-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    border-bottom: 1px #F3F3F3 solid;
    padding: 0 0 15px 0px;
    margin-bottom: 20px;
    margin-left: 70px;
    width: 80%;
}

.product-img {
    width: 220px;
    margin-right: 35px;
    border: 0;
}

.product-info h3{
    margin-bottom: 0;
}

.product-info p {
    margin-bottom: 0;
}

.product-price {
    color: #b12755;
    font-weight: bold;
    font-size: 16px;
}

.best-seller-tag {
    width: 100px;
}

.remaining-stock-tag {
    font-weight: bold;
    color: #0099d6;
}

.avg-rating-img {
    width: 110px;
}

.product-link {
    color: black;
}

.product-link:hover {
    text-decoration: none;
}

.product:active {
    text-decoration: none;
}

#products-content div:last-child {
    border: none;
}