form {
    display: grid;
    margin-bottom: 10px;
    grid-row-gap: 5px;
}

form div {
    padding-bottom: 10px;
}

form div input {
    border-radius: 5px;
    width: 300px;    
}

.btn-primary {
    width: 75px;
    height: 30px;
    border-radius: 3px;
}